*.log
*.sql
*.txt
*.tar.gz
*.gz
*.tar
*.bak
*.old
*.zip
!.gitignore
robots.txt
bitrix/backup/*
bitrix/cache/*
bitrix/managed_cache/*
bitrix/stack_cache/*
bitrix/tmp/*
bitrix/wizards/*
bitrix/updates/*
bitrix/php_interface/dbconn.php
bitrix/.settings.php
bitrix/.settings_extra.php
bitrix/modules/cluster/memcache.php
upload/*
vendor/*
